    .ast_footer_wrapper {
        float: left;
        width: 100%;
        bottom: 0;
        background-image: url(../images/chart-pattern.jpg);
        background-repeat: repeat, no-repeat;
        background-size: contain;
        z-index: -1;
        padding: 50px 0 50px 0;
        position: relative;
        padding-bottom: 20PX;
    }
    
    .ast_footer_wrapper:before {
        content: "";
        background: url(../images/map.png) no-repeat center center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        z-index: 0;
        background-size: contain;
        opacity: 0.4;
        margin: 50px;
    }
    
    .ast_footer_info {
        float: left;
        width: 100%;
        text-align: left;
    }
    
    .footer-logo {
        display: inline-block;
        margin-bottom: 12px;
        width: 180px;
    }
    
    .ast_footer_info p {
        float: left;
        width: 100%;
        margin-bottom: 20px;
        font-size: 13px;
        font-weight: 500;
        line-height: 22px;
        color: #c7c9ea;
    }
    
    .footer-social-link {
        float: left;
    }
    
    hr {
        border-top: 1px solid #7250cc !important;
    }
    
    .footer-social-link ul {
        float: left;
        margin: 0px;
        padding: 0px;
    }
    
    .footer-social-link ul li {
        display: inline-block;
        width: auto;
        list-style: none;
    }
    
    .footer-social-link ul li a {
        float: left;
        width: 38px;
        height: 38px;
        line-height: 38px;
        border-radius: 50%;
        text-align: center;
        background: #f0ebff;
        margin: 5px 10px 5px 0;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        font-size: 20px;
    }
    
    .footer-social-link li a.facebook {
        color: #3b41c5;
    }
    
    .footer-social-link li a.twitter {
        color: #34b7fb;
    }
    
    .footer-social-link ul li a.linkedin {
        color: #0076b4;
    }
    
    .footer-social-link ul li a.google-plus {
        color: #db4c41;
    }
    
    .footer-social-link ul li a.instagram {
        color: #5b2ed1;
    }
    
    .footer-social-link ul li a.whatsapp {
        color: #40c164;
    }
    
    .footer-social-link ul li a.facebook:hover {
        color: #fff;
        background: #3b41c5;
    }
    
    .footer-social-link ul li a.twitter:hover {
        color: #fff;
        background: #34b7fb;
    }
    
    .footer-social-link ul li a.linkedin:hover {
        color: #fff;
        background: #0076b4;
    }
    
    .footer-social-link ul li a.google-plus:hover {
        color: #fff;
        background: #db4c41;
    }
    
    .footer-social-link ul li a.instagram:hover {
        color: #fff;
        background: #5b2ed1;
    }
    
    .footer-social-link ul li a.whatsapp:hover {
        color: #fff;
        background: #40c164;
    }
    
    .footer-social-link ul li a:hover {
        background-color: #161ecb;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .widget.text-widget {
        float: left;
        width: 100%;
    }
    
    .widget-title {
        float: left;
        width: 100%;
        margin-top: 0px;
        font-size: 16px;
        color: #fcfaff;
        text-transform: capitalize;
        position: relative;
        padding-bottom: 15px;
    }
    
    .ast_newsletter {
        float: left;
        width: 100%;
    }
    
    .ast_newsletter p {
        float: left;
        width: 100%;
        color: #c7c9ea;
        margin-bottom: 20px;
        font-weight: 400;
    }
    
    .ast_newsletter_box {
        position: relative;
        width: 100%;
        float: left;
    }
    
    .ast_newsletter_box input {
        width: calc(100% - 65px);
        height: 42px;
        padding: 0px 70px 0px 20px;
        border: 1px solid #adb0b6;
        color: #000000;
        font-weight: 500;
        border-radius: 50px;
        background-color: transparent;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        background: #f0ebff;
    }
    
    .ast_newsletter_box input:hover,
    .ast_newsletter_box input:focus {
        outline: none;
        border: 1px solid #383fcf;
        box-shadow: 0px 0px 10px -3px #383fcf;
    }
    
    .ast_newsletter_box button {
        line-height: 16px;
        text-align: center;
        color: #e8dffb;
        border: 0;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#383fcf), to(#971eff));
        background: -webkit-linear-gradient(right, #383fcf, #971eff);
        background: -moz-linear-gradient(right, #383fcf, #971eff);
        background: -ms-linear-gradient(right, #383fcf, #971eff);
        background: -o-linear-gradient(right, #383fcf, #971eff);
        display: inline-block;
        border-radius: 50px;
        padding: 10px 30px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        margin-top: 0px;
        position: absolute;
        right: 0px;
        top: 3px;
        outline: none;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    /*.ast_newsletter_box button:hover,
.ast_newsletter_box button:focus {
    color: #fff !important;
    background-color: #383fcf;
    box-shadow: 0 0 20px rgb(159, 172, 222);
    transition: all 0.3s;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#383fcf), to(#971eff));
    background: -webkit-linear-gradient(right, #383fcf 10%, #971eff 50%);
    background: -moz-linear-gradient(right, #383fcf, #971eff);
    background: -ms-linear-gradient(right, #383fcf, #971eff);
    background: -o-linear-gradient(right, #383fcf, #971eff);
    outline: none;
    text-decoration: none;
}*/
    
    .ast_servicelink {
        float: left;
        width: 100%;
    }
    
    .ast_servicelink h4 {
        margin: 0px 0px 15px 0px;
        font-size: 16px;
        font-weight: 600;
        color: #fcfaff;
    }
    
    .ast_servicelink ul {
        float: left;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    .ast_servicelink ul li {
        float: left;
        width: 100%;
        list-style: none;
    }
    
    .ast_servicelink ul li a {
        float: left;
        width: 100%;
        color: #c7c9ea;
        font-weight: 500;
        font-size: 14px;
        text-transform: capitalize;
        padding: 6px 0px 6px 0px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .ast_sociallink ul {
        float: left;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    .ast_sociallink {
        float: left;
        width: 100%;
    }
    
    .ast_sociallink h4 {
        margin: 0px 0px 15px 0px;
        font-size: 16px;
        font-weight: 600;
        color: #fcfaff;
    }
    
    .ast_sociallink ul li {
        float: left;
        width: 100%;
        list-style: none;
    }
    
    .ast_sociallink ul li a {
        float: left;
        width: 100%;
        font-size: 14px;
        color: #c7c9ea;
        font-weight: 500;
        text-transform: capitalize;
        padding: 6px 0px 6px 0px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    .ast_sociallink ul li a:hover {
        color: #fff;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        text-decoration: none;
    }
    
    .ast_servicelink ul li a:hover {
        color: #fff;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        text-decoration: none;
    }
    
    .ast_gettouch {
        float: left;
        width: 100%;
    }
    
    .ast_gettouch ul {
        float: left;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    .ast_gettouch ul li {
        float: left;
        width: 100%;
        list-style: none;
        margin-bottom: 15px;
    }
    
    .ast_gettouch ul li i {
        float: left;
        width: 30px;
        color: #161ecb;
        font-size: 20px;
        padding-top: 3px;
    }
    
    .ast_gettouch ul li p {
        float: right;
        width: calc(100% - 30px);
        color: #000;
        margin-bottom: 0px;
        font-weight: 500;
    }
    
    .ast_gettouch ul li a {
        float: left;
        /* width: calc(60% - 30px); */
        color: #000;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        font-weight: 500;
    }
    
    .ast_footer_wrapper-bottom p {
        font-size: 15px;
        margin-bottom: 0px;
        color: #dacff1;
        font-weight: 500;
        padding-top: 0px;
    }
    
    .ast_footer_wrapper-bottom p a {
        font-weight: 700;
        color: #5aa0fd;
    }
    
    .ast_footer_wrapper-bottom p a:hover {
        text-decoration: none;
    }
    
    @media (max-width: 767px) {
        .footer-social-link {
            float: left;
            display: inline-block;
            margin-top: 24px;
            text-align: center;
        }
        .widget.text-widget {
            padding: 15px 0;
        }
    }