.login-container {
    background: fixed url(../images/register-banner.png) #13214c;    
    background-size: cover;    
    height: 100vh;
}
.login-box {
    /*margin: 70px 0;*/
}
    .login-box.tr {
        transform: translate(0%, 20%);
    }
.login-blog {
    background-color: #fff;
    padding: 10px 18%;
    margin: 40px;
    border-radius: 6px;
}
    .login-blog h3 {
        color: #516578;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
    }
    .login-blog label {
        color: #4b6076;
    }
    .login-blog .form-control {
        background-color: #ebf2f9;
        padding: 20px 22px;
        border: 1px solid #e1e8f1;
        box-shadow: none;
    }

    .login-blog ::-webkit-input-placeholder {
        color: #b0bbc7;
    }

    .login-blog ::-moz-placeholder { 
        color: #b0bbc7;
    }

    .login-blog :-ms-input-placeholder {
        color: #b0bbc7;
    }

    .login-blog :-moz-placeholder { 
        color: #b0bbc7;
    }

.btn-login {
    background-color: #458dee;
    padding: 10px 35%;
    border: 1px solid #458dee;
    color: #fff;
    border-radius: 50px;
    margin: 15px 0;
    font-weight: 500;
}
    .btn-login:hover {
        background-color: #3883e8;
    }
.forgot-link {
    color: #536475;
    margin: 26px 0px;
    display: block;
    font-weight: 700;
    text-align: right;
}
.ln-ref {
    color: #536475;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
    display: block;
}
    .ln-ref a {
        color: #458dee;
        font-weight: 700;
        cursor: pointer;
    }
@media (max-width: 768px) {
    .login-blog {
        background-color: #fff;
        padding: 18px 8%;
        margin: 20px 20px;
        border-radius: 6px;
    }
    .btn-login{
        width:100%;
    }
    .forgot-link {    
        margin: 6px 0px;
    }
    .fx-footer {
        position: relative;
        width: auto;
        bottom: 0;
    }
    .login-box.tr {
        transform: translate(0%, 0%);
    }
    }



/*Checkboxes styles*/
input[type="checkbox"] {
    display: none;
}

    input[type="checkbox"] + label {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 20px;        
        color: #929eae;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

        input[type="checkbox"] + label:last-child {
            margin-bottom: 0;
        }

        input[type="checkbox"] + label:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid #dadfe6;
            background-color: #ecf2f9;
            position: absolute;
            left: 0;
            top: 0;
            opacity: .6;
            -webkit-transition: all .12s, border-color .08s;
            transition: all .12s, border-color .08s;
        }

    input[type="checkbox"]:checked + label:before {
        width: 10px;
        top: -5px;
        left: 5px;
        border-radius: 0;
        opacity: 1;
        /* border-top-color: transparent; */
        /* border-left-color: transparent; */
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: white;
        /* border-bottom-color: #448dee; */
        border-color: #448dee;
        border: 2px solid;
        border-top: 0;
        border-left: 0;
    }